---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import skitse from "../assets/images/skiste.jpg";
import clf from "../assets/images/clf.jpg";
import port from "../assets/images/port.jpg";
import vildmad from "../assets/images/vildmad.jpg";
import girl from "../assets/images/girl.jpg";
import spil from "../assets/images/spil.jpg";
---

<MainLayout class:list="mx-16">
  <section class="font-[#14293A] archivo-narrow relative pb-28">
    <a href="/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"></path>
      </svg>
    </a>
  </section>
  <div class="md:px-32 relative p-8 py-16">
    <h1 class="text-6xl archivo-narrow bg-[#FFF1F0] w-fit pb-4">
      Tidligere projekter
    </h1>

    <p class="font-[#14293A] archivo-narrow lg:text-lg bg-[#FFF1F0] w-fit">
      Nedenfor kan du læse om de projekter, jeg har arbejdet på under min
      uddannelse hos KEA.
    </p>
  </div>

  <div class="">
    <div class="px-3 lg:grid grid-cols-2 pb-20 lg:px-32">
      <div>
        <Image
          src={skitse}
          alt="Billede fra projektet med skitse"
          class="w-[400px] h-[300px]"
        />
      </div>
      <div>
        <h2 class="font-[#14293A] text-2xl md:text-3xl archivo-narrow mt-22">
          Skitse.nu
        </h2>
        <p>
          I forbindelse med mit afsluttende projekt på 2. semester redesignede
          vi en eksisterende hjemmeside for en kreativ virksomhed.
        </p>
        <p>
          Projektet startede med en grundig researchfase, hvor vi kiggede på det
          nuværende site for at identificere udfordringer og problemer.
        </p>
        <p>
          Ved hjælp af prototyping udførte vi flere iterative test med bruger
          for at sikre, at de designløsninger, vi udviklede, løste problemerne.
        </p>

        <p>
          Til sidst kodede vi den nye hjemmeside ved hjælp af HTML, Astro, CSS,
          JavaScript og Supabase.
        </p>
      </div>
    </div>

    <div class="px-3 lg:grid grid-cols-2 pb-20 lg:px-32">
      <div>
        <Image
          src={clf}
          alt="Krusedulle som vector i svg"
          class="w-[400px] h-[300px]"
        />
      </div>
      <div>
        <h2 class="font-[#14293A] text-2xl md:text-3xl archivo-narrow mt-22">
          Copenhagen Light Festival
        </h2>
        <p>
          Projektet startede med en præsentation fra Copenhagen Light Festival,
          hvor de beskrev deres ønsker for redesignet. De fremhævede, hvilke
          elementer de gerne ville have forbedret, og hvad de allerede syntes
          fungerede godt.
        </p>

        <p>
          Ved hjælp af prototyping i Figma udførte vi flere iterative test med
          bruger for at sikre, at de designløsninger, vi udviklede, løste
          problemerne som beskrevet.
        </p>
        <p>
          Til sidst kodede vi den nye hjemmeside ved hjælp af HTML, Astro, CSS,
          JavaScript og Supabase.
        </p>
      </div>
    </div>
    <div class="px-3 lg:grid grid-cols-2 pb-20 lg:px-32">
      <div>
        <Image
          src={port}
          alt="Krusedulle som vector i svg"
          class="w-[400px] h-[300px]"
        />
      </div>
      <div>
        <h2 class="font-[#14293A] text-2xl md:text-3xl archivo-narrow mt-22">
          Portfolie site
        </h2>
        <p>
          I forbindelse med mit afsluttende projekt på 1. semester skulle jeg
          udvikle en portfolie med mine projekter fra 1. semester.
        </p>
        <p>
          Projektet begyndte med en grundig designproces, hvor jeg undersøgte
          brugervenlige konventioner og designprincipper. Det var vigtigt for
          mig at præsentere mine metoder og valg på en overskuelig måde, baseret
          på erfaringer fra tidligere projekter.
        </p>

        <p>Til sidst kodede jeg hjemmeside ved hjælp af HTML og CSS.</p>
      </div>
    </div>

    <div class="px-3 lg:grid grid-cols-2 pb-20 lg:px-32">
      <div>
        <Image
          src={girl}
          alt="Krusedulle som vector i svg"
          class="w-[400px] h-[300px]"
        />
      </div>
      <div>
        <h2 class="font-[#14293A] text-2xl md:text-3xl archivo-narrow mt-22">
          GirlTalk
        </h2>
        <p>
          Projektet startede med en præsentation fra GirlTalk, hvor de
          forklarede deres ønsker for den webfeature, vi skulle udvikle. De
          fremhævede deres visuelle identitet samt deres budskab og mission.
        </p>

        <p>
          Ved hjælp af prototyping i Figma udførte vi flere brugertests for at
          sikre, at de designvalg, vi udviklede, opfyldte kravene til opgaven.
          Projektet krævede også inddragelse af informationer og væsentlige
          fakta gennem datavisualisering og infografik.
        </p>
        <p>
          I dette projekt udarbejde vi også indhold til deres SoMe i form at
          opslag til Instagram.
        </p>
      </div>
    </div>
    <div class="px-3 lg:grid grid-cols-2 pb-20 lg:px-32">
      <div>
        <Image
          src={spil}
          alt="Krusedulle som vector i svg"
          class="w-[400px] h-[300px]"
        />
      </div>
      <div>
        <h2 class="font-[#14293A] text-2xl md:text-3xl archivo-narrow mt-22">
          Havets Helte, Spil
        </h2>
        <p>
          I forbindelse med min læring om animation og JavaScript skulle vi
          udvikle et interaktivt spil.
        </p>
        <p>
          Spillet skulle udvikles fra start til slut, fra idéfasen og
          konceptudvikling til tegning af alle elementer i Adobe Illustrator,
          samt kodning og animation i VSCode.
        </p>
      </div>
    </div>
  </div>
</MainLayout>
